# macOS system files
.DS_Store

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# CSV Exports
data/
*.csv

# Selenium WebDriver binary
chromedriver
