# macOS system files
.DS_Store

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Settings
settings.yaml
google_creds.json

# Logs
*.log

# CSV Exports
data/
*.csv
*.xlsx

# Selenium WebDriver binary
chromedriver
